.login-page {
    display: flex;
    height: 610px;
    justify-content: center;
    align-items: center;
    .login-content {
        display: flex;
        flex-direction: column;
        
        .login-header {
            padding-top: 30px;
            text-align: center;
        }
        .login-body {
            padding-top: 10px;
        }
        .login-footer {}
    }
}